.container * {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  background-color: aliceblue;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
}

.originalPriceContainer,
.discountAmountContainer,
.couponDiscountContainer,
.shippingAmountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.couponInputContainer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.couponInputContainer > input {
  flex-grow: 1;
  padding: 5px;
}

.couponInputContainer > button {
  padding: 5px;
}

.totalAmountContainer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
}

.totalAmount {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalAmountContainer > button {
  width: 100%;
  padding: 10px;
}

.shippingAmountAmount {
  text-decoration: line-through;
}

.shippingAmountFreeLabel {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  color: aqua;
}
